<div class="well span6 offset5">
  <center><h2><%= @user == current_user ? "My Tweets" : "#{@user.user_name}'s Tweets"%></h2></center>
</div>

<%= render :partial => "tweets/tweet", collection: @user.tweets%>
